@import "normalize.css";

#header {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(2, auto);
  padding: 30px 0px;

  .header-register {
    text-align: center;

    &-welcome {
      margin-right: 10px;
      font-size: 3.3rem;
      font-weight: bold;
      color: #f7442e;
      cursor: pointer;
    }

    &-register {
      margin-left: 10px;
      font-size: 2.2rem;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .header-help {
    text-align: end;
    padding-top: 10px;
    font-size: 1.6rem;
    color: #f7442e;
    cursor: pointer;
  }
}

#main {
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #f4f6f9;
  height: 630px;
  justify-items: center;
  align-items: center;

  .main-background {
    width: 200%;
    height: 100%;

    &-image {
      width: 100%;
      height: 100%;
    }
  }

  .main-formik {
    background-color: white;
    height: 80%;
    width: 50%;
    border-radius: 30px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: end;
    padding-top: 15px;
    padding-bottom: 35px;

    &-form {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-row-gap: 20px;

      .submit-text {
        text-align: center;
        font-size: 5rem;
        color: #f7442e;
        font-weight: 500;
      }

      .submit-form {
        #register-name {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          margin-bottom: 2px;

          #LastName {
            font-size: 1.6rem;
            width: 15rem;
            height: 3rem;
            border-radius: 0.6rem;
            border-color: rgba(209, 206, 206, 0.925);
            margin-right: 2.2rem;
            margin-bottom: 4px;
          }

          #FirstName {
            font-size: 1.6rem;
            width: 14rem;
            height: 3rem;
            border-radius: 0.6rem;
            border-color: rgba(209, 206, 206, 0.925);
            margin-bottom: 4px;
          }
        }

        #Phone {
          font-size: 1.6rem;
          width: 32rem;
          height: 3.39rem;
          border-radius: 0.6rem;
          border-color: rgba(209, 206, 206, 0.925);
          margin-bottom: 4px;
          margin-top: 5px;
        }

        #Email {
          font-size: 1.6rem;
          width: 32rem;
          height: 3.39rem;
          border-radius: 0.6rem;
          border-color: rgba(209, 206, 206, 0.925);
          margin-bottom: 4px;
          margin-top: 5px;
        }

        #Password {
          font-size: 1.6rem;
          width: 32rem;
          height: 3.39rem;
          border-radius: 0.6rem;
          border-color: rgba(209, 206, 206, 0.925);
          margin-bottom: 4px;
          margin-top: 5px;
        }

        #ConfirmPassword {
          font-size: 1.6rem;
          width: 32rem;
          height: 3.39rem;
          border-radius: 0.6rem;
          border-color: rgba(209, 206, 206, 0.925);
          margin-bottom: 4px;
          margin-top: 5px;
        }

        #register-checkboxRule {
          margin-top: 10px;
          .text {
            font-size: 1.3rem;

            .rule {
              font-size: 1.4rem;
              font-weight: bold;
              color: blue;
              cursor: pointer;
            }

            .law {
              font-size: 1.4rem;
              font-weight: bold;
              color: blue;
              cursor: pointer;
            }
          }
        }

        #register {
          &-lastname,
          &-firstname,
          &-phone,
          &-email,
          &-password,
          &-confirmpassword {
            display: grid;
            grid-template-rows: repeat(2, auto);

            small {
              font-size: 1.3rem;
            }
          }

          &-checkboxRule {
            small {
              margin-top: 5px;
              font-size: 1.3rem;
            }
          }
        }
      }

      .submit-button {
        padding: 13px 0px;
        margin: 0;
        background-color: #f7442e;
        border: none;
        border-radius: 3px;
        color: white;
        font-size: 1.6rem;
        cursor: pointer;
      }
    }

    &-register {
      margin: auto 0px;
      font-size: 1.5rem;

      .Login {
        cursor: pointer;

        &:hover {
          color: blue;
        }
      }
    }
  }
}
