@import "normalize.css";

#header {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 10px;
  background-color: #f7442e;

  .container-navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;

    &-contact {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-column-gap: 25px;
      margin-left: 40px;
      font-size: 1.6rem;

      &-items {
        margin-top: 4px;
        cursor: pointer;

        .text {
          font-size: 1.3rem;
          font-weight: bold;
          padding-left: 7px;
          color: white;
        }

        .text-special {
          font-size: 5rem;
          color: white;
        }
      }
    }

    &-space {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0%;
    }

    &-menu {
      justify-content: end;

      &-list {
        font-size: 1.3rem;
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-column-gap: 20px;
        justify-content: end;
        padding-right: 40px;
        padding-left: 0px;
        &-items {
          color: white;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
  }

  .container-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    &-menu {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(7, auto);
      grid-column-gap: 10px;
      &-list {
        font-size: 1.6rem;
        color: white;
        cursor: pointer;
      }
    }

    &-button {
      width: 35%;
      display: grid;
      grid-template-columns: 45% 55%;

      &-cart {
        text-align: end;
        margin-right: 20px;

        &-button {
          padding: 12px 35px;
          margin-bottom: 10px;
          background-color: orange;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      &-buy {
        margin-left: 20px;

        &-button {
          padding: 12px 35px;
          margin-bottom: 10px;
          background-color: orange;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
